<html>
</head>
</head>
<body>

<form action='/login' method='POST'>
<input type='email' placeholder="Enter Your email" name='email' >
<br><br>
<input type="password" placeholder='Enter Your password' name='passowrd'>
<br><br>
<input type="submit" value="LogIn">
</form>
</body>
</html>